.circle{
    width: 10px;
    height: 10px;
    border-radius:5px;
    background-color: #274760;
    margin-right: 5px;
}

strong{
    color: #274760;
}

.px-15{
    padding-left: 15%;
    padding-right: 15%;
}

.footer{
    height: 100px;
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:700px) {
    .overflow-x-sm-scroll{
        overflow-x: auto;
        max-width: 100%;
        min-width: 0;
    }

    .px-15{
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer{
        height: 60px;
    }
}