<div class="col mt-80px mt-sm-30px pl-md-30px pl-sm-5px hide-sm"> 
    <div class="flex align-center">
        <img src="assets/img/formation_icon.svg" alt="Icona Formazione">
        <h4 class="fs-20px fw-500 pl-20px blue">Formazione</h4>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Laurea con lode in Medicina e Chirurgia</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Università Sapienza di Roma</h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Specializzazione in Chirurgia Generale</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Università Sapienza di Roma</h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Specializzazione in Urologia</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Università degli Studi di Torino</h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Specializzazione in Endocrinologia <br> (indirizzo andrologico)</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Università degli Studi di Pisa </h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Master Itinerante di Chirurgia Andrologica</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Società Italiana di Andrologia</h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Qualificazione in Medicina Sessuale</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">European Society for Sexual Medicine</h5>
    </div>
    <div class="flex align-center mt-40px">
        <img src="assets/img/experience_icon.svg" alt="Icona Esperienza">
        <h4 class="fs-20px fw-500 pl-20px blue">Esperienza Clinica</h4>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Aiuto Struttura Complessa di Urologia</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">ASL CN2 Alba–Bra (1994 – 2014)</h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Direttore della Struttura Complessa di Urologia</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">ASL 5 Spezzina (2015 – 2024)</h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Attività libero professionale</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Studi medici e strutture specialistiche (2024 - oggi)</h5>
    </div>
    <div class="flex align-center mt-40px">
        <img src="assets/img/price_icon.svg" alt="Icona Premi">
        <h4 class="fs-20px fw-500 pl-20px blue">Premi e riconoscimenti</h4>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Premio C. Catuogno</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Società Italiana di Andrologia (2003)</h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Premio miglior comunicazione</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Congresso S.I.Ur.O. (chirurgia uro-oncologica) (2005)</h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Premio miglior comunicazione in urologia funzionale</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Congresso AURO (2011)</h5>
    </div>
    <div class="flex col pl-30px mt-20px">
        <div class="flex align-center ">
            <div class="circle"></div>
            <h4 class="fw-500 fs-16px pl-20px blue">Premio miglior video scientifico</h4>
        </div>
        <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Congresso nazionale S.I.A. (2012)</h5>
    </div>
</div>
<!-- Curriculun con accordion -->
    <div class="cv-container show-sm pb-100px pb-sm-10px col-sm">
    <button (click)="toggleCv()" class="cv-button">
        <span class="fw-500 fs-18px blue">Curriculum Vitae</span>
        <img src="assets/img/accordion_icon.svg" alt="Freccia" class="icon" [class.open]="isOpen">
    </button>

    <div class="cv-content" [class.open]="isOpen">
        <!-- QUI dentro il tuo contenuto -->
        <div class="col w-100 mt-30px pl-md-30px pl-sm-5px" (click)="toggleCv()"> 
            <div class="flex align-center">
                <img src="assets/img/formation_icon.svg" alt="Icona Formazione">
                <h4 class="fs-20px fw-500 pl-20px blue">Formazione</h4>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Laurea con lode in Medicina e Chirurgia</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Università Sapienza di Roma</h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Specializzazione in Chirurgia Generale</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Università Sapienza di Roma</h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Specializzazione in Urologia</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Università degli Studi di Torino</h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Specializzazione in Endocrinologia <br> (indirizzo andrologico)</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Università degli Studi di Pisa </h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Master Itinerante di Chirurgia Andrologica</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Società Italiana di Andrologia</h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Qualificazione in Medicina Sessuale</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">European Society for Sexual Medicine</h5>
            </div>
            <div class="flex align-center mt-40px">
                <img src="assets/img/experience_icon.svg" alt="Icona Esperienza">
                <h4 class="fs-20px fw-500 pl-20px blue">Esperienza Clinica</h4>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Aiuto Struttura Complessa di Urologia</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">ASL CN2 Alba–Bra (1994 – 2014)</h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Direttore della Struttura Complessa di Urologia</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">ASL 5 Spezzina (2015 – 2024)</h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Attività libero professionale</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Studi medici e strutture specialistiche (2024 - oggi)</h5>
            </div>
            <div class="flex align-center mt-40px">
                <img src="assets/img/price_icon.svg" alt="Icona Premi">
                <h4 class="fs-20px fw-500 pl-20px blue">Premi e riconoscimenti</h4>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Premio C. Catuogno</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Società Italiana di Andrologia (2003)</h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Premio miglior comunicazione</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Congresso S.I.Ur.O. (chirurgia uro-oncologica) (2005)</h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Premio miglior comunicazione in urologia funzionale</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Congresso AURO (2011)</h5>
            </div>
            <div class="flex col pl-30px mt-20px">
                <div class="flex align-center ">
                    <div class="circle"></div>
                    <h4 class="fw-500 fs-16px pl-20px blue">Premio miglior video scientifico</h4>
                </div>
                <h5 class="fw-400 fs-16px pl-30px gray pt-5px">Congresso nazionale S.I.A. (2012)</h5>
            </div>
        </div>
    </div>
</div>
