<div class="px-120px px-sm-10px">
    <h4 class="fs-25px fs-sm-20px bold light-blue pt-100px pt-sm-50px  reveal" revealDirective>DIAGNOSI E PREVENZIONE</h4>
    <h4 class="fs-50px fs-sm-35px bold blue pt-sm-20px  reveal" revealDirective>Visite specialistiche</h4>
    <p class="gray w-80 fs-sm-14px w-sm-100 pt-sm-20px  reveal" revealDirective>Attraverso la visita specialistica è possibile valutare lo stato di salute urologico e andrologico, individuare eventuali disturbi e definire gli esami o i trattamenti più indicati per ogni paziente.</p>
    <div class="flex flex-wrap justify-between py-45px col-sm">
        <div class="card pl-25px zoom-md  reveal" revealDirective >
            <h5 class="blue fs-25px fs-sm-20px pt-20px h-30 fs-md">Visita urologica</h5>
            <div class="flex align-start h-25">
                <p class="gray">Valutazione specialistica per la diagnosi e il trattamento delle patologie dell’apparato urinario.</p>
            </div>
             <div class="flex align-end justify-end h-20">
                <a href="https://www.miodottore.it/enrico-conti/urologo-andrologo/castelnuovo-magra#profile-pricing" target="_blank">
                    <img src="assets/img/right_button.svg" alt="Right Button">                
                </a>
            </div>
        </div>
        <div class="card my-sm-20px pl-25px zoom-md  reveal" revealDirective >
            <h5 class="blue fs-25px fs-sm-20px pt-20px h-30 fs-md">Visita andrologica</h5>
            <div class="flex align-start h-25">
                <p class="gray">Valutazione dedicata alla salute sessuale e riproduttiva maschile.</p>
            </div>
             <div class="flex align-end justify-end h-20">
                <a href="https://www.miodottore.it/enrico-conti/urologo-andrologo/castelnuovo-magra#profile-pricing" target="_blank">
                    <img src="assets/img/right_button.svg" alt="Right Button">
                </a>
            </div>
        </div>
        <div class="card pl-25px zoom-md  reveal" revealDirective >
            <h5 class="blue fs-25px fs-sm-20px pt-20px h-30 fs-md">Controllo specialistico urologico o andrologico</h5>
            <div class="flex align-start h-25">
                <p class="gray">Visite di monitoraggio e follow-up.</p>
            </div>
             <div class="flex align-end justify-end h-20">
                <a href="https://www.miodottore.it/enrico-conti/urologo-andrologo/castelnuovo-magra#profile-pricing" target="_blank">
                    <img src="assets/img/right_button.svg" alt="Right Button">
                </a>
            </div>
        </div> 
    </div>
</div>
