<div class="flex footer align-center justify-between px-120px px-sm-10px bg-light-blue mt-100px mt-sm-60px">
        <div class="flex pl-120px">
            <p class="fs-15px pr-10px">P. IVA 04089430047</p>
            <!-- <a href="https://www.facebook.com/enrico.conti.946" target="_blank">
                <img class="px-5px cursor-pointer" src="assets/img/facebook.svg" alt="Facebook Icon">
            </a>
            <a href="https://www.linkedin.com/in/enrico-conti-34b77956/" target="_blank">
                <img class="px-5px" src="assets/img/linkedin.svg" alt="LinkedIn Icon">
            </a> -->
        </div>
        <p class="fs-15px fs-sm-11px">© 2026 Dr. Enrico Conti – Tutti i diritti riservati</p>
    </div>
