<div class="px-120px px-sm-10px">
    <h4 class="fs-25px fs-sm-20px bold light-blue pt-50px">DOVE RICEVE</h4>
    <h4 class="fs-50px fs-sm-35px bold blue ">Studi e cliniche</h4>
    <p class="gray w-80 fs-sm-14px w-sm-100">È possibile prenotare una visita specialistica presso gli studi e le cliniche in cui il Dott. Enrico Conti svolge la propria attività.</p>
    <div class="flex flex-wrap justify-between py-45px col-sm">
        <div class="card pl-25px zoom-md" >
            <h5 class="blue fs-25px fs-sm-20px pt-20px h-30 fs-md">Poliambulatorio San Paolo</h5>
            <div class="flex align-start h-25">
                <img class="w-20px mr-10px" src="assets/img/pin_location.svg" alt="Location Icon">
                <p class="gray">Via Vivaro 27, <br> 12051, Alba (CN)</p>
            </div>
             <div class="flex align-start h-25">
                <img class="w-20px mr-10px" src="assets/img/telefon_icon.svg" alt="Location Icon">
                <p class="gray">0173 290851</p>
            </div>
             <div class="flex align-end justify-end h-20">
                <img src="assets/img/right_button.svg" alt="Right Button">
            </div>
        </div>
        <div class="card my-sm-20px pl-25px zoom-md" >
            <h5 class="blue fs-25px fs-sm-20px pt-20px h-30 fs-md">Centro Medico Due Soli</h5>
            <div class="flex align-start h-25">
                <img class="w-20px mr-10px" src="assets/img/pin_location.svg" alt="Location Icon">
                <p class="gray">Via Paolo Emilio Taviani 52,<br> 19100, La Spezia (SP)</p>
            </div>
             <div class="flex align-start h-25">
                <img class="w-20px mr-10px" src="assets/img/telefon_icon.svg" alt="Location Icon">
                <p class="gray">0187 738056</p>
            </div>
             <div class="flex align-end justify-end h-20">
                <img src="assets/img/right_button.svg" alt="Right Button">
            </div>
        </div>
        <div class="card pl-25px zoom-md" >
            <h5 class="blue fs-25px fs-sm-20px pt-20px h-30 fs-md">Centro Medico Monsignori</h5>
            <div class="flex align-start h-25">
                <img class="w-20px mr-10px" src="assets/img/pin_location.svg" alt="Location Icon">
                <p class="gray">Via della Pace snc,<br> 19033, Castelnuovo Magra (SP)</p>
            </div>
             <div class="flex align-start h-25">
                <img class="w-20px mr-10px" src="assets/img/telefon_icon.svg" alt="Location Icon">
                <p class="gray">0187 721126</p>
            </div>
             <div class="flex align-end justify-end h-20">
                <img src="assets/img/right_button.svg" alt="Right Button">
            </div>
        </div> 
    </div>
</div>
