.container{
    height: 570px;
    margin: 10px 120px ;
}

.box{
    height: 410px;
    overflow-y: visible;
    background-image: url('../../../assets/img/banner_prenotazioni.svg');
    background-size: cover;
}

.transform-y{
    transform: translateY(-160px);
}

@media screen and (max-width:1000px) {
    .container{
        height: 370px;
    }

    .box{
        height: 370px;
        padding: 10px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .transform-y{
        transform: translateY(-57px);
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .container{
        height: 450px;
    }

    .box{
        height: 370px;
        padding: 10px;
    }
    .transform-y{
        transform: translateY(-120px);
    }

    .zoom-md{
        zoom: 0.8;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .transform-y{
        transform: translateY(-57px);
    }

    .container{
        height: 370px;
    }

    .box{
        height: 370px;
        padding: 10px;
    }
    .transform-y{
        display: none;
    }
}

@media screen and (max-width:700px) {
    .container{
        margin: 10px 10px ;
    }
}
