<div class="container flex col justify-end zoom-md">
    <div class="box flex justify-between ">
        <div class="flex col pl-100px pl-sm-10px">
            <h4 class="fs-55px fs-sm-30px bold white pt-50px">Prenota una visita specialistica</h4>
            <p class="fs-20px fs-sm-16px blue pt-20px w-80 w-sm-100">Prenota la tua visita con il Dott. Enrico Conti in modo semplice e veloce tramite la piattaforma MioDottore.</p>
            <button class="blue-btn mt-30px">Prenota</button>
        </div>
        <img class="transform-y hide-sm zoom-md" src="assets/img/dott_conti.svg" alt="Dott. Enrico Conti" height="570px">
    </div>
</div>
