.blu-img-bg{
    background-image: url('../../../assets/img/sfondo_Banner.svg');
    background-size: cover;
}

.title{
    font-family: Geologica;
    font-weight: 700;
    font-style: Bold;
    font-size: 140px;
    line-height: 132px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.subtitle{
    font-weight: 700;
    font-style: Bold;
    font-size: 53.27px;
    line-height: 63.8px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.text{
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.page-container{
    background: radial-gradient(59.95% 42.35% at 70.78% 50%, rgba(134, 187, 241, 0.38) 0%, rgba(134, 187, 241, 0) 100%);
}

.pin-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    padding: 35px;
    box-shadow: 0px 4px 4px 0px rgba(48, 123, 196, 0.15);
    border-radius: 15px;
    // transform: translateY(-43px);
    width: 90%;
}

.transform-y-80{
    transform: translateY(-80px);

}
.pb-200px{
    padding-bottom: 200px;
}

.transform-y-60{
    transform: translateY(-60px);

}

.translate-y-30px{
    transform: translateY(-30px);
}

.w-600px{
    width: 600px;
}

.px-120px{
    padding-left: 120px;
    padding-right: 120px;
}

.transform-y-100{
    transform: translateY(100px);
}

@media screen and (max-width:1000px) {
    .title{
        font-size: 80px;
        line-height: 75px;
    }

    .subtitle{
        font-size: 30px;
        line-height: 35px;
    }

    .text{
        font-size: 16px;
        line-height: 24px;
    }

    .w-sm-335px{
        width: 335px;
    }

    .align-center-sm{
        align-items: center;
    }
}

@media screen and (max-width:700px) {
    .title{
        font-size: 72px;
        line-height: 75px;
    }

    .h-sm-0{
        height: 0;
    }

    .pb-sm-60px{
        padding-bottom: 60px;
    }

    .subtitle{
        font-size: 30px;
        line-height: 35px;
    }

    .px-sm-10px{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .w-sm-150px{
        width: 170px;
    }

    .img-conti-translate{
        transform: translate(50px, 0);
    }

    .transform-y-80{
        transform: translateY(-180px);
    }

    .transform-y-100{
        transform: translateY(-80px);
    }

    .transform-y-100-sm{
        transform: translateY(-80px);
    }

    .transform-y-sm-130px{
        transform: translateY(80px);
    }

    .transform-y-sm-60px{
        transform: translateY(-60px);
    }

    .pin-container{
        padding: 40px 20px;
    }

    .translate-y-30px{
        transform: translateY(0px);
    }

    .col-sm-reverse{
        flex-direction: column-reverse;
    }

    .show-sm{
        display: flex;
    }

    .overflow-x-sm-scroll{
        overflow-x: auto;
        max-width: 100%;
        min-width: 0;
    }

    .min-w-0{
        min-width: 0;
    }

    .overflow-y-sm-visible{
        overflow-y: visible;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
   .fs-md{
        font-size: 12px;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
   .fs-md{
        font-size: 12px;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .fs-md{
        font-size: 12px;
    }
}